.card {
    border-top: var(--common-line);
    display: block;
}

.content {
    height: 399px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    text-align: justify;
}

.fake-border {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 1px);
}

.fake-border .block:nth-child(1) {
    border-bottom: var(--common-line);
}

.bottom-row {
    height: 100px;
    display: grid;
    grid-template-areas: ". b b b b";
}

.bottom-row .block {
    grid-area: b;
    border-bottom: var(--common-line);
}

.bottom-row .block:nth-child(1) {
    border-left: var(--common-line);
}
