:root {
    --border: var(--primaryColor) solid 1px;
    --primaryColorLightMode: #2e6e15;
    --primaryColor: #93a48c;
    --common-line: 1px solid var(--primaryColor);
    --common-line-dark: 1px solid black;
    --largePadding: 0.5rem;
    --smallPadding: 0.25rem;
    --longTransition: 5s;
    --toggleSwitchTransition: .4s;
    user-select: none;
}

html {
    color-scheme: light dark;
    background-color: black;
    color: var(--primaryColor);
}

html.dark {
    background-color: var(--primaryColor);
    color: black;
}

body {
    font-family: 'Source Code Pro', monospace;

    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overscroll-behavior: none;
    touch-action: none;
    position: fixed;
    inset: 0;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    max-width: 100%;
}

body::before {
    content: "";
    position: fixed;
    inset: 0.5rem;
    border: var(--common-line);
    pointer-events: none;
    z-index: 9999;
}

html.dark body::before {
    border: var(--common-line-dark);
}

