---
import BaseLayout from '../layouts/BaseLayout.astro';
import ContentWrapper from "../components/ContentWrapper.astro";
---

<BaseLayout>
    <ContentWrapper>
        <section>
            <img height="150.3" width="160" src="/crane.png" alt="a line drawing of an origami crane">
            <p>Thanks for stopping by. I'm a bilingual software engineer based in central Ohio with experience in serverless architectures, single-page and SSR front ends.</p>
            <p>Stay tuned for more content--in the meantime check out the links at the bottom of the screen!</p>
        </section>
    </ContentWrapper>
</BaseLayout>

<style>
    section {
        display: flex;
        flex-direction: column;
        border: var(--common-line);
        justify-content: center;
        align-items: center;
    }
    p {
        margin: 1rem;
    }
    img {
        width: 50%;
        height: auto;
        background-color: #000;
        animation: fadein 15s ease-in;
    }

    @keyframes fadein {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
</style>
