---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Alex Gochenour's portfolio site</title>
	</head>
	<body>
		<h1>Greetings</h1>
	</body>
</html>

<style>
    :root {
        --border: var(--primaryColor) solid 1px;
        --largePadding: 0.5rem;
        --smallPadding: 0.25rem;
        --primaryColor: #93a48c;
        --primaryColorLightMode: #2e6e15;
        --longTransition: 5s;
        --toggleSwitchTransition: .4s;
        user-select: none;
    }

    html {
        color-scheme: light dark;
    }

    body {
        background-color: black;
        color: var(--primaryColor);
        font-family: 'Source Code Pro', monospace;
        margin: 0;
        padding: 0;
    }
</style>