#projects {
    margin-top: 0;
    border-bottom: var(--common-line);
    padding-left: 2rem;
}

.project-cards {
    position: relative;
}

/*.card {*/
/*    width: 100%;*/
/*    height: 400px;*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: sticky;*/
/*}*/

/*.card:nth-child(1) {*/
/*    background: yellow;*/
/*}*/

/*.card:nth-child(2) {*/
/*    background: red;*/
/*}*/

/*.card:nth-child(3) {*/
/*    background: white;*/
/*}*/

/*.card:nth-child(4) {*/
/*    background: green;*/
/*}*/

/*.card:nth-child(5) {*/
/*    background: blue;*/
/*}*/

/*.hidden-card {*/
/*    position: absolute;*/
/*    background: salmon;*/
/*    bottom: 0;*/
/*    z-index: -1;*/
/*}*/