#projects {
    margin-top: 0;
    border-bottom: var(--common-line);
    padding-left: 2rem;
}

.project-cards {
    position: relative;
}

.card-wrapper {
    width: 100%;
    position: sticky;
}

/*.card:nth-child(1) {*/
/*    background: yellow;*/
/*}*/

/*.card:nth-child(2) {*/
/*    background: red;*/
/*}*/

/*.card:nth-child(3) {*/
/*    background: white;*/
/*}*/

/*.card:nth-child(4) {*/
/*    background: green;*/
/*}*/

/*.card:nth-child(5) {*/
/*    background: blue;*/
/*}*/

.hidden-card {
    position: absolute;
    background: salmon;
    bottom: 0;
    z-index: -1;
}