#projects {
    margin-top: 0;
    margin-bottom: 0;
    border-bottom: var(--common-line);
    padding-left: 2rem;
}

.project-cards {
    position: relative;
}

.project-cards-welcome {
    padding: 0 2rem;
    text-align: justify;
    margin: 0
}

.card-wrapper {
    width: 100%;
    position: sticky;
}

.hidden-card {
    position: absolute;
    height: 400px;
    width: 100%;
    bottom: 0;
    z-index: -1;
    display: flex;
    align-items: center;
    text-align: center;
}