---
import "../styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Alex Gochenour's portfolio site</title>
    </head>

    <body>
        <nav>
            <a href="/"><h1>Alex Gochenour</h1></a>
            <h2>Senior Software Engineer</h2>
            <div>
                <a href="/projects">Projects</a>
                <a href="/gallery">Gallery</a>
                <a href="/about">About</a>
            </div>
        </nav>

        <section>
            <slot />
        </section>

        <footer>
            Alex Gochenour 2026 - Year of the Horse
        </footer>
    </body>
</html>

<style>
    body {
        display: grid;
        grid-template-rows: 20% 1fr 3rem;
    }
    nav {
        text-align: center;
        border-bottom: var(--common-line);
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;

        a {
            color: inherit;
        }
    }

    section {
        display: flex;
        justify-content: center;
    }

    footer {
        text-align: center;
        border-top: var(--common-line);
        margin: 0 0.5rem;
        padding: 0.5rem;
    }
</style>

