---

---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Gochenour's portfolio site</title>
</head>
<body>

<nav>
    <h1>Alex Gochenour</h1>
    <h2>Senior Software Engineer</h2>
    <div>
        <a href="/projects">Projects</a>
        <a href="/gallery">Gallery</a>
        <a href="https://github.com/chunyukuo88" target="_blank">Github</a>
    </div>
</nav>
</body>
</html>

<style>
    nav {
        text-align: center;
        border-bottom: var(--primaryColor) 1px solid;
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;
    }

    a {
        color: inherit;
    }
</style>

