---
import "../styles/global.css";
import Social from "../components/Social.astro";
import Cube from '../components/cube/Cube';
import ThemeIcon from "../components/ThemeIcon.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="icon" href="/favicon.ico" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Alex Gochenour's portfolio site</title>
    </head>

    <body>
        <div class="layout">
            <header>
                <a href="/"><h1>Alex Gochenour</h1></a>
                <h2>Software Engineer</h2>
                <div>
                    <a href="/projects">Projects</a>
                    <ThemeIcon />
                    <a href="/about">About</a>
                </div>
            </header>

            <main>
                <slot />
            </main>
            <Cube client:load />

            <footer>
                <Social platform="linkedin.com/in" handle="alex-gochenour" icon="LinkedIn" />
                <Social platform="npmjs.com/package" handle="gochenour" icon="npm" />
                <Social platform="youtube.com" handle="@alexgochenour8740" icon="YouTube" />
            </footer>
        </div>
    </body>
</html>

<style>
    html, body {
        margin: 0;
        height: 100%;
        overflow: hidden;
    }

    .layout {
        height: 100svh;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    header {
        text-align: center;
        border-bottom: var(--common-line);
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;

        a {
            color: inherit;
        }
    }

    :global(.dark) header {
        border-bottom: var(--common-line-dark);
    }

    main {
        display: flex;
        justify-content: center;
        overflow-y: auto;
    }

    footer {
        text-align: center;
        border-top: var(--common-line);
        margin: 0 0.5rem;
        padding: 0.5rem;
        background: black;
        z-index: 10;
    }

    :global(.dark) footer {
        background: var(--primaryColor);
        border-top: var(--common-line-dark);
    }

    :global(.dark) {
        background: var(--primaryColor);
    }
</style>

