---
import "../styles/global.css";
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Alex Gochenour's portfolio site</title>
</head>
<body>

<nav id="base-layout-nav">
    <a id="title" href="/"><h1>Alex Gochenour</h1></a>
    <h2>Senior Software Engineer</h2>
    <div>
        <a class="page-navigation-link" href="/projects">Projects</a>
        <a class="page-navigation-link" href="/gallery">Gallery</a>
        <a class="page-navigation-link" href="/about">About</a>
    </div>
</nav>
</body>

</html>

<style>
    #base-layout-nav {
        text-align: center;
        border-bottom: var(--primaryColor) 1px solid;
        margin: 0 0.5rem;
        padding-bottom: 0.5rem;
    }

    #title, .page-navigation-link {
        color: inherit;
    }
</style>

